cots
**/GeneratedFiles/**
**/Win32/**
**/Release/**
**/Debug/**
**/lang/**
*.obj
*.dep
*.manifest
*.ncb
*.sln
*.cache
*.user
*.suo
*.orig
*.vcproj
*.ilk
*.dsw
*.dsp
*.pch
*.pdb
*.exe
*.idb
*.res
*.htm
*.html
*.rar
*.htm
*.lib
*.exp
*.log
*.ior
*.jar
*.log
*.sql
*.txt
*.history
*.review
*.xsl
*.ico
*.xml
*.opensdf
*.sdf
*.vspscc
*.autosave
*.qm
*.zip
*.rar
*.SQL
*.7z
*.xls
*.java
*.css
*.dll
