GeneratedFiles/
Win32/
lang/
*.obj
*.dep
*.manifest
*.filters
*.ncb
*.sln
*.user
*.suo
*.ilk
*.pch
*.pdb
*.exe
*.idb
*.res
*.rar
*.htm
*.lib
*.exp
*.log
*.ior
*.log
*.txt
*.history
*.review
*.ico
*.xml
*.opensdf
*.sdf
*.vspscc
*.autosave
*.qm
*.zip
*.rar
*.7z

